#container
{
    background-image: url('pics/coffey.jpg');
    height: 600px;
    background-repeat: no-repeat;
    width: 600px;
    margin: auto;
    border: 1px solid #D0D0D0;
    background-color: #E8E5D1;
    color: #787878;
    
}

#topbar 
{
    background-color: #4F463C;
    text-align: right;
    font-size: 10px;
    font-style: italic;
    color: #E8E5D1;
    line-height: 20px;
    padding-right: 2px;
}

#menu
{
    background-color: #4F463C;
    margin-top: 180px;
    height: 38px;
    font-size: 90%;
}

#menu  li
{
    display: inline;
    
}

#menu li a
{
    text-decoration:none;
    color: #E8E5D1;
    background-color: #786F66;
    padding: 7px 19px;
    margin: -10px -3px;
    border-left: 1px solid #4F463C;
    text-transform: Capitalize;
    
}

#menu ul 
{
    margin-left: -27px;

}

#menu a 
{
    display: none;
}

#menu ul a
{
    display: inline-block;
}

ul 
{
    list-style-type: none;
    float: left;
}


#content
{
    background-color: #F5F5DC;
    
}


#maincontent
{
    background-color: #E8E5D1;
    float: left;
    width: 400px;
    font-size: 14px;
    color: #786F66;
    margin-top: 17px;
}

h1 
{
    font-family: Times;
    color: #787878;
    margin: 10px;
}

#subcontent h1 
{
    font-size: 16px;
    font-family: Times;
}

#subcontent ul 
{
    margin-top: -17px;
    padding: 10px;
}

h2 
{
    margin: 10px;
    font-size: 12px;
    font-family: Times;
    
}

p 
{
    margin: 10px;
}

img 
{
    float: left;
    margin: 10px;
    margin-bottom: 5px;
}

#subcontent
{
    float: right;
    background-color: #E8E5D1;
    width: 199px;
    font-size: 11px;
    color: #786F66;
    border-left: 1px dashed #D0D0D0;
    margin-top: 20px;
    
   
}

#subcontent p 
{
    padding: 10px 0px;
}



body 
{
    font-family: Verdana, Times;
    background-color: #FAF8F2;
}


#bottomcontent
{
    float: left;
    font-size: 10px;
    font-style:italic;
    color: #808080;
    margin: 10px;
    background-color: #E8E5D1;
    
}